* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



#game {
    display: block;
    width: 100%;
    height: 100%;
    background: #1A1A1A;
}



.level {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background: #222;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.player {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 0 0 30px;
    background: #2AF;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5), 0 0 8px 0 #000 inset;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.player-h {
    width: 80px;
    margin-left: 10px;
}

.player-v {
    height: 80px;
    margin-top: 10px;
}



.tile {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px 0 0 10px;
    background: #666;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5), 0 0 8px 0 #000 inset;
}



.path {
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    margin: 49px 0 0 49px;
    background: #46B;
    z-index: -1;
}

.path-h {
    width: 102px;
}

.path-v {
    height: 100px;
}
