* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #1A1A1A;
}



a {
    display: inline-block;
    color: #2AF;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}




#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #FFF;
    background: #111;
    z-index: 1;
}

.header-item {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 8px 0;
}

.header-item:last-child {
    margin: 0;
}

.header-value {
    display: inline-block;
    position: relative;
    width: 72px;
    margin: 0 8px 0 8px;
    padding: 0 8px;
    text-align: right;
}
.header-value:before {
    content: "";
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: #333;
    z-index: -1;
}



#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #FFF;
    background: #111;
    z-index: 1;
}





#game {
    display: block;
    width: 100%;
    height: 100%;
}



.level {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background: #222;
    background: url('../img/levelbg.jpg');
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.player {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 0 0 30px;
    background: #2AF;
    border-radius: 4px;
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.5), 0 0 8px 0 #000 inset;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.player-h {
    width: 80px;
    margin-left: 10px;
}

.player-v {
    height: 80px;
    margin-top: 10px;
}

.player-final {
    margin: 10px 0 0 10px;
    width: 80px;
    height: 80px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 1s ease, opacity 0.5s ease 1s, -webkit-transform 0.5s ease 1s;
    transition: all 1s ease, opacity 0.5s ease 1s, -webkit-transform 0.5s ease 1s;
    transition: all 1s ease, opacity 0.5s ease 1s, transform 0.5s ease 1s;
    transition: all 1s ease, opacity 0.5s ease 1s, transform 0.5s ease 1s, -webkit-transform 0.5s ease 1s;
}



.tile {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px 0 0 10px;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    color: #FFF;
    background: #666;
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.5), 0 0 8px 0 #000 inset;
}

.tile-moving {
    background: #A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease, opacity 0.15s ease;
}

.tile-sliding {
    background: #C86;
    -webkit-transition: all 0.5s ease;
    transition: all 0.25s ease, opacity 0.1s ease;
}



.path {
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    margin: 49px 0 0 49px;
    background: #46B;
    z-index: -1;
}

.path-h {
    width: 102px;
}

.path-v {
    height: 102px;
}



.destination {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px 0 0 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px dotted #2AF;
    border-radius: 4px;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.5) inset;
    z-index: -1;
}





.popup {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 320px;
    padding: 16px;
    text-align: center;
    background: #EEE;
    border-radius: 4px;
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.popup-visible {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
}

#popup-intro {
    display: block;
}

.popup-title {
    display: block;
    margin: 0 0 16px 0;
    padding: 16px 0;
    font-size: 28px;
    font-weight: normal;
    border-bottom: 1px solid #444;
}

.popup-content {
    display: block;
    font-size: 20px;
}

.popup-actions {
    display: block;
    margin: 16px 0 0 0;
    padding: 16px 0;
    border-top: 1px solid #444;
}

.popup-action {
    display: inline-block;
    min-width: 96px;
    margin: 0 8px;
    padding: 8px 16px;
    background: #2AF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px 0 transparent;
}
.popup-action:hover,
.popup-action:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.popup-action-small {
    min-width: auto;
    padding: 8px;
}

.popup-table {
    display: table;
    width: 100%;
}

.popup-entry {
    display: table-row;
}

.popup-key {
    display: table-cell;
    text-align: left;
    width: 75%;
    padding: 8px 16px;
}

.popup-value {
    display: table-cell;
    width: 25%;
    padding: 8px 16px;
    text-align: right;
}



#popup-levels-list {
    display: block;
    width: 280px;
    font-size: 0;
}

.popup-level {
    display: inline-block;
    width: 80px;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 3px 0 transparent;
    cursor: default;
    transform: translateY(0);
    transition: all 0.2s ease;
}
.popup-level:nth-child(3n) {
    margin-right: 0;
}
.popup-level-playable:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    cursor: pointer;
}

.popup-level-img {
    display: block;
    width: 100%;
}

.popup-level-score {
    display: block;
    font-size: 16px;
    height: 1.5em;
    line-height: 1.5em;
}





@media (max-width: 900px), (max-height: 920px) {
    #game {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@media (max-width: 760px), (max-height: 840px) {
    #game {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media (max-width: 660px), (max-height: 760px) {
    #game {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@media (max-width: 580px), (max-height: 680px) {
    #game {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
}

@media (max-width: 500px), (max-height: 600px) {
    #game {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@media (max-width: 440px), (max-height: 540px) {
    #game {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}
